In [10]:
# Dependencies

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
#names = ['ID','UserID','first_name','last_name','email','gender','City','Country', 'Age', 'Profession','Architecture', 'Clothing', 'Food','Transport','MainCategory']
#dataset = pd.read_csv("F:/Masters/Semester 3/Thesis/rekognition/backup_01July2019/dataset-final.csv", delimiter=",",names=names)
#dataset.drop(dataset.columns[[0,1, 2, 3, 4, 5, 6, 7, 8, 9]], axis=1, inplace=True)
#dataset = dataset.iloc[1:]


#names = ['ID','UserID','first_name','last_name','email','gender','City','Country', 'Age', 'Profession', 'Transport','Architecture', 'Food', 'Nature', 'MainCategory']
#dataset = pd.read_csv("F:/Masters/Semester 3/Thesis/rekognition/Dataset/KMeans/50/dataset-final.csv", delimiter=",",names=names)
#dataset.drop(dataset.columns[[0,1, 2, 3, 4, 5, 6, 7, 8, 9]], axis=1, inplace=True)
#dataset = dataset.iloc[1:]


names = ['ID','UserID','first_name','last_name','email','gender','City','Country', 'Age', 'Profession','Adventure','Architecture', 'Beach', 'Clothing', 'Food', 'Nature','MainCategory']
dataset = pd.read_csv("F:/Masters/Semester 3/Thesis/rekognition/Dataset/KMeans/50/dataset-final.csv", delimiter=",",names=names)
dataset.drop(dataset.columns[[0,1, 2, 3, 4, 5, 6, 7, 8, 9]], axis=1, inplace=True)
dataset = dataset.iloc[1:]

In [12]:
dataset.dtypes

Adventure       object
Architecture    object
Beach           object
Clothing        object
Food            object
Nature          object
MainCategory    object
dtype: object

In [13]:
#dataset['gender'] = dataset['gender'].astype(str).astype(int)
#dataset['City'] = dataset['City'].astype(str).astype(int)
#dataset['Country'] = dataset['Country'].astype(str).astype(int)
#dataset['Age'] = dataset['Age'].astype(str).astype(int)
#dataset['Profession'] = dataset['Profession'].astype(str).astype(int)

dataset['Adventure'] = dataset['Adventure'].astype(str).astype(int)
dataset['Architecture'] = dataset['Architecture'].astype(str).astype(int)
dataset['Beach'] = dataset['Beach'].astype(str).astype(int)
dataset['Clothing'] = dataset['Clothing'].astype(str).astype(int)
dataset['Food'] = dataset['Food'].astype(str).astype(int)
dataset['Nature'] = dataset['Nature'].astype(str).astype(int)
dataset['MainCategory'] = dataset['MainCategory'].astype(str).astype(int)


#dataset['Transport'] = dataset['Transport'].astype(str).astype(int)
#dataset['Architecture'] = dataset['Architecture'].astype(str).astype(int)
#dataset['Food'] = dataset['Food'].astype(str).astype(int)
#dataset['Nature'] = dataset['Nature'].astype(str).astype(int)
#dataset['MainCategory'] = dataset['MainCategory'].astype(str).astype(int)

In [14]:
from sklearn.model_selection import train_test_split  
train, test = train_test_split(dataset, test_size=0.2)

In [15]:
print("***** Train_Set *****")
print(train.head())
print("\n")
print("***** Test_Set *****")
print(test.head())

***** Train_Set *****
    Adventure  Architecture  Beach  Clothing  Food  Nature  MainCategory
21          3             1      1         0     1       4             5
43          0             3      0         0     2       5             5
19          2             5      1         1     0       1             1
39          1             3      1         0     1       4             5
22          1             5      0         3     1       0             1


***** Test_Set *****
    Adventure  Architecture  Beach  Clothing  Food  Nature  MainCategory
37          4             1      0         1     1       3             0
18          2             1      2         1     0       4             5
42          3             2      1         2     1       1             0
46          1             4      0         3     0       2             1
14          2             2      0         4     0       2             3

In [16]:
print("***** Train_Set *****")
print(train.describe())
print("\n")
print("***** Test_Set *****")
print(test.describe())

***** Train_Set *****
       Adventure  Architecture      Beach   Clothing       Food     Nature  \
count   40.00000     40.000000  40.000000  40.000000  40.000000  40.000000
mean     2.05000      3.325000   0.500000   0.950000   1.075000   2.100000
std      1.15359      1.456858   0.716115   1.036513   0.971055   1.645507
min      0.00000      1.000000   0.000000   0.000000   0.000000   0.000000
25%      1.00000      2.000000   0.000000   0.000000   0.000000   1.000000
50%      2.00000      3.000000   0.000000   1.000000   1.000000   2.000000
75%      3.00000      5.000000   1.000000   1.000000   2.000000   3.000000
max      5.00000      6.000000   3.000000   4.000000   3.000000   6.000000

       MainCategory
count     40.000000
mean       2.050000
std        1.810935
min        0.000000
25%        1.000000
50%        1.000000
75%        3.500000
max        5.000000


***** Test_Set *****
       Adventure  Architecture      Beach   Clothing       Food     Nature  \
count  11.000000     11.000000  11.000000  11.000000  11.000000  11.000000
mean    2.090909      2.181818   0.727273   1.818182   0.909091   2.181818
std     1.445998      1.167748   0.786245   1.328020   0.943880   0.873863
min     0.000000      1.000000   0.000000   0.000000   0.000000   1.000000
25%     1.000000      1.000000   0.000000   1.000000   0.000000   2.000000
50%     2.000000      2.000000   1.000000   1.000000   1.000000   2.000000
75%     2.500000      3.000000   1.000000   2.500000   1.000000   2.500000
max     5.000000      4.000000   2.000000   4.000000   3.000000   4.000000

       MainCategory
count     11.000000
mean       2.090909
std        1.972539
min        0.000000
25%        0.500000
50%        1.000000
75%        3.500000
max        5.000000

In [17]:


train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 21 to 9
Data columns (total 7 columns):
Adventure       40 non-null int32
Architecture    40 non-null int32
Beach           40 non-null int32
Clothing        40 non-null int32
Food            40 non-null int32
Nature          40 non-null int32
MainCategory    40 non-null int32
dtypes: int32(7)
memory usage: 1.4 KB

In [18]:
X = np.array(train.drop(['MainCategory'], 1).astype(float))
X

array([[3., 1., 1., 0., 1., 4.],
       [0., 3., 0., 0., 2., 5.],
       [2., 5., 1., 1., 0., 1.],
       [1., 3., 1., 0., 1., 4.],
       [1., 5., 0., 3., 1., 0.],
       [3., 3., 1., 0., 0., 3.],
       [2., 5., 0., 2., 0., 1.],
       [1., 4., 1., 0., 3., 1.],
       [2., 5., 2., 1., 0., 0.],
       [1., 2., 0., 2., 0., 5.],
       [2., 1., 0., 0., 1., 6.],
       [2., 4., 1., 1., 0., 2.],
       [3., 2., 0., 1., 2., 2.],
       [3., 3., 0., 1., 1., 2.],
       [2., 3., 1., 1., 2., 1.],
       [3., 5., 0., 1., 0., 1.],
       [3., 3., 0., 0., 2., 2.],
       [1., 5., 0., 3., 1., 0.],
       [1., 1., 0., 1., 3., 4.],
       [0., 5., 0., 2., 2., 1.],
       [3., 5., 0., 0., 0., 2.],
       [1., 6., 2., 1., 0., 0.],
       [4., 4., 1., 0., 0., 1.],
       [1., 3., 1., 1., 0., 4.],
       [1., 2., 1., 3., 0., 3.],
       [3., 5., 0., 0., 2., 0.],
       [4., 1., 0., 0., 1., 4.],
       [3., 3., 0., 1., 1., 2.],
       [1., 1., 0., 4., 1., 3.],
       [3., 3., 0., 2., 1., 1.],
       [3., 5., 1., 0., 0., 1.],
       [3., 3., 1., 1., 1., 1.],
       [3., 2., 0., 0., 2., 3.],
       [1., 1., 0., 2., 1., 5.],
       [1., 4., 0., 1., 2., 2.],
       [1., 4., 0., 0., 3., 2.],
       [1., 3., 1., 1., 2., 2.],
       [2., 5., 0., 0., 0., 3.],
       [5., 2., 0., 1., 2., 0.],
       [2., 3., 3., 0., 2., 0.]])

In [19]:
y = np.array(train['MainCategory'])
y

array([5, 5, 1, 5, 1, 1, 1, 1, 1, 5, 5, 1, 0, 1, 1, 1, 1, 1, 5, 1, 1, 1,
       1, 5, 3, 1, 5, 1, 3, 0, 1, 1, 5, 5, 1, 1, 1, 1, 0, 2])

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 21 to 9
Data columns (total 7 columns):
Adventure       40 non-null int32
Architecture    40 non-null int32
Beach           40 non-null int32
Clothing        40 non-null int32
Food            40 non-null int32
Nature          40 non-null int32
MainCategory    40 non-null int32
dtypes: int32(7)
memory usage: 1.4 KB

In [21]:
kmeans = KMeans(n_clusters=3)
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [22]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = kmeans.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1
print(correct/len(X))

0.025

In [23]:
kmeans =  KMeans(n_clusters=3, n_init=20, max_iter=4000, precompute_distances=False, algorithm='full', copy_x=False)
kmeans.fit(X)

KMeans(algorithm='full', copy_x=False, init='k-means++', max_iter=4000,
    n_clusters=3, n_init=20, n_jobs=None, precompute_distances=False,
    random_state=None, tol=0.0001, verbose=0)

In [24]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = kmeans.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.075

In [25]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [26]:
kmeans.fit(X_scaled)

KMeans(algorithm='full', copy_x=False, init='k-means++', max_iter=4000,
    n_clusters=3, n_init=20, n_jobs=None, precompute_distances=False,
    random_state=None, tol=0.0001, verbose=0)

In [27]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = kmeans.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.05